<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head.html') %>
    <title><%= title %></title>
</head>
<body>
    <%- include ('partials/navigation.html') %>
        <div class="contenedor6" style="padding: 40px; margin-top: 10px;">
            <div class="row">
                <div class="col">
                    <div class="contenedor7">
                        <%- include ('partials/coti.html') %>
                    </div>
                </div>
                <div class="col">
                    <div class="contenedor8">
                        <div class="text6" style="font-size: 15px;">
                            <b>Para nosotros es muy importante tu necesidad, es por lo mismo que solicitamos dejes tu número de
                            contacto <br\> y en un máximo de 30 minutos nos comunicaremos contigo.</b>
                        </div>
                        <div class="form-group" style="margin-top: 13px;margin-bottom: 13px;">
                            <input type="text" class="form-control" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Teléfono">
                        </div>
                        <div class="form-group">
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-primary btn-block" style="margin-top: 25px; ">
                                    Enviar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <%- include ('partials/footer.html') %>
</body>
</html>