<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head.html') %>
    <title><%= title %></title>
</head>
<body>
    <%- include ('partials/navigation.html') %>
    <div class="container" style="align-content: center; margin-top: 20px; margin-bottom: 1px; height: 470px; width: 550px; border-style: double;border-radius: 20px; border-width: 15px;background-color:#1D630A;border-color: white;">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="margin-top: 20px;">
              <div class="carousel-item active">
                <img src="/img/ima1.jpg" class="d-block w-100" alt="banner 1">
              </div>
              <div class="carousel-item">
                <img src="/img/ima2.jpg" class="d-block w-100" alt="banner 2">
              </div>
              <div class="carousel-item">
                <img src="/img/ima3.jpg" class="d-block w-100" alt="banner 3">
              </div>
              <div class="carousel-item">
                <img src="/img/ima4.jpg" class="d-block w-100" alt="banner 4">
              </div>
              <div class="carousel-item">
                <img src="/img/ima5.jpg" class="d-block w-100" alt="banner 5">
              </div>
              <div class="carousel-item">
                <img src="/img/ima6.jpg" class="d-block w-100" alt="banner 6">
              </div>
              <div class="carousel-item">
                <img src="/img/ima7.jpg" class="d-block w-100" alt="banner 7">
              </div>
              <div class="carousel-item" style="margin-top: 130px;">
                <img src="/img/logo.jpg" class="d-block w-100" alt="banner 8">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <%- include ('partials/footer.html') %>
    
</body>
</html>