<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <%- include ('partials/head.html') %>
    <title>
        <%= title %>
    </title>
</head>

<body style="background-image: URL(/img/ima3.jpg);background-repeat: no-repeat; background-size: cover;">
    <%- include ('partials/navigation.html') %>
    <div class="contenedor">
        <div class="text">TRANSPORTE DE CARGA VEHICULAR</div>
        <div class="text0">Ofrecemos el mejor servicio en todo Chile</div>
    </div>
    <div class="text" style="margin-bottom: 5px;">
        ¿QUIENES SOMOS?
    </div>
    <div class="contenedor2">
        <div class="text6" style="padding: 15px;">Transportes Berven, se inicia el año 2010, prestando servicios para una importante empresas. En
                la actualidad, cuenta con 4 Ramplas y 3 Grúas Operativas.Próximamente se sumará una Grúa y tres Ramplas.
        </div>
    </div>
    <div class="contenedor3" style="margin-top: 10px;margin-bottom: 10px;">
        <div class="text1">MISIÓN</div>
        <div class="text2"> Prestar el servicio de transporte de vehículos, de forma segura, confiable, eficiente y
            eficaz a nivel nacional
        </div>
    </div>
    <div class="contenedor3" style="margin-top: 10px;margin-bottom: 10px;">
        <div class="text1">VISIÓN</div>
        <div class="text2">Posisionarnos como una de las empresas líderes en el mercado nacional del transporte de
            logística automotriz.</div>
    </div>

    <div class="contenedor6" style="padding: 40px; margin-top: 10px;">
        <div class="text">Dependencias</div>
        <div class="row">
            <div class="col">
                <div class="text6" style="text-align: left;">Nos encontramos ubicados en el lote n°4 con acceso por camino El Olivo, a 200 metros interior.<br/>Contamos con una superficie equivalente a 10.000 mts<sup>2</sup>, disponibles para la custodia y el cuidado de su carga</div>
            </div>
            <div class="col-6"><div class="text0"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3328.15542394764!2d-70.77149303586528!3d-33.471304050000796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c309d9a65eb3%3A0xb6a9492bc09225c9!2sTRANSPORTES%20BERVEN!5e0!3m2!1ses!2scl!4v1635444620614!5m2!1ses!2scl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div></div>
        </div>
        
    </div>
    <div class="container" style="margin-top: 25px;">
        hidden
    </div>
    <%- include ('partials/footer.html') %>
</body>

</html>