<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <%- include ('partials/head.html') %>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include ('partials/navigation.html') %>
    <div class="contenedor">
        <div class="text">TRANSPORTE DE CARGA VEHICULAR</div>
        <div class="text0">Ofrecemos el mejor servicio en todo Chile</div>
    </div>
    
    <h2>
        <div class="text" style="margin-bottom: 5px;">¿QUIENES SOMOS?</div>
        <div class="contenedor2">
            <div>Transportes Berven, se inicia el año 2010, prestando servicios para una importante empresas. En la actualidad, cuenta con 4 Ramplas y 3 Grúas Operativas.Próximamente se sumará una Grúa y tres Ramplas.
            </div>
        </div>
    </h2>

    <h3>
        <div class="contenedor3">
            <div class="text1">MISIÓN</div>
            <div class="text2"> Prestar el servicio de transporte de vehículos, de forma segura, confiable, eficiente y
                eficaz a nivel nacional
            </div>
        </div>
        <div class="contenedor3">
            <div class="text1">VISIÓN</div>
            <div class="text2">Posisionarnos como una de las empresas líderes en el mercado nacional del transporte de
                logística automotriz.</div>
        </div>
    </h3>
</body>
</html>