<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head.html') %>
    <title><%= title %></title>
</head>
<body>
    <%- include ('partials/navigation.html') %>
    <h3>
        <div class="contenedor4" style="margin-top: 2px;">
            <div class="text4">
                Servicio Grúa
            </div>
            <div class="text2">Prestamos el servicio de traslados de vehículos desde las concesionarias a los punto de ventas, como también a cliente final.
                <div class="text5" style="text-align: left;">
                    <li>Se realizan cambios de flota de algunas mineras y renta car.</li>
                    <li>Los traslados son en la región metropolitana y otras regiones.</li>
                    <li>Realizamos traslados anualmente para el Campeonato Histórico de Velocidades Four B, con el Staff de Porsche y GT3.</li>
                </div>
            </div>
            <div class="text2" style="margin-top: 2px;">Nuestro principales clientes son:
                <div class="text5" style="text-align: left;">
                    <li>Bruno Fritsch (División Flota)</li>
                    <li>Econorent</li>
                    <li>Latam</li>
                    <li>Carabineros de Chile</li>
                    <li>Entre otros.</li>
                </div>
                
            </div>
        </div>
        <div class="contenedor4" style="margin-top: 2px;">
            <div class="text4">Servicio Ramplas</div>
            <div class="text2">Se realizan traslados a nivel nacional (Desde Iquique a Chiloe).</div>
            <div class="text5" style="text-align: left;">
                <li>Prestamos el servicio de traslados de vehículos desde las Concesionarios a los diferentes puntos del país.
                </li>
                <li>Se trasladan ente 8 a 10 unidades en un viaje.</li>
            </div>
            <div class="text2" style="margin-top: 2px;">Nuestro principales clientes son:
                <div class="text5" style="text-align: left; margin-bottom: 65px;">
                    <li>Bruno Fritsch (División Flota)</li>
                    <li>Econorent</li>
                    <li>Latam</li>
                    <li>Carabineros de Chile</li>
                    <li>Entre otros.</li>
                </div>
        
            </div>
        </div>
    </h3>

    <%- include ('partials/footer.html') %>
</body>
</html>