<nav class="navbar navbar-expand-lg " style="background-color: #1D630A;">
    
    <div class="container" style="margin-left: 5px;">
        <a href="/"><img src="/img/logo.jpg" alt="" ></a>
        <div class="container-fluid" style="margin-left: 0px;">
                        <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav" style="margin-left:5px;">
                    <li class="nav-item">
                        <a class="navlink" aria-current="page" href="/"><i class="fas fa-home" style="margin-right: 5px;"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="navlink" href="ns"><i class="fas fa-users"style="margin-right: 5px;"></i>Nuestros Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="navlink" href="/contact"><i class="fas fa-envelope"style="margin-right: 5px;"></i>Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="navlink" href="/galeria"><i class="fas fa-folder-open"style="margin-right: 5px;"></i>Galería</a>
                    </li>
                    <li class="nav-item">
                        <a class="navlink" href="https://sistema.geocashflow.cl/cli.index.php?p_ak=d8b12943cda215668ada46594c9d9e19"><i class="fas fa-hand-point-up"style="margin-right: 5px;"></i>Acceso Clientes</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>